@using Permission.DTOs;
@model PermissionFormViewModel
@{
    ViewData["Title"] = "Mange Roles";
}

<h1>Mange Permisssion</h1>
<form method="post">
    <div class="card mt-4">
        <div class="card-header">
            <h2>@Model.RoleName</h2>
            Add/Remove Permisssion
        </div>
        <div class="card-body">
            <input type="hidden" asp-for="RoleId" />
            <input type="hidden" asp-for="RoleName" />
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th> @* <input type="checkbox"></input *@></th>
                        <th>Module</th>
                        <th>Permission</th>
                    </tr>
                </thead>
                <tbody>
                    @for (var i = 0; i < Model.RoleClaims.Count(); i++)
                    {
                      <tr>

                          <td>
                                <div class="form-check m-1">
                                    <input type="hidden" asp-for="@Model.RoleClaims[i].RoleName" />
                                    <input type="hidden" asp-for="@Model.RoleClaims[i].RoleId" />
                                    @*<input asp-for="@Model.Roles[i].IsSelected " class="form-check-input"/>*@

                                    <input asp-for="@Model.RoleClaims[i].IsSelected " type="checkbox" class="ui-checkbox p-5">

                                  @*   <label class="form-check-label">@Model.RoleClaims[i].RoleName</label> *@
                                </div>
                          </td>
                          <td>@Model.RoleClaims[i].RoleName.Split(".")[1]</td>
                          <td>@Model.RoleClaims[i].RoleName.Split(".")[2]</td>
                      </tr>
                    }

                </tbody>
            </table>
         
        </div>
        <div class="card-footer">
            <button class="btn btn-primary"> Save</button>
            <a asp-action="Index" class="btn btn-secondary">Cancel</a>
        </div>
    </div>


</form>